<h2>Todo Task</h2>

<form action="/add" method="post">
    <input type="text" placeholder="Enter your task" name="task_name">
    <input type="submit" value="Add">
</form>

<ol>
    {% for task in task_list %}
    <li>
        <input type="checkbox"
            {% if task[2] %} checked {% endif %}
            onclick="window.location.href='/toogle/{{ task[0] }}'"
        />
        {% if task[2] %}
            <s>{{ task[1] }}</s>
        {% else %}
            {{ task[1] }}
        {% endif %}

        <a href="/delete/{{ task[0] }}">delete</a>
    
    </li>
    {% endfor %}
</ol>